.box-layout {
  align-items: center;
  background: url('/images/wall.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

// .box-layout__picture {
//   background: url('/images/brian.jpg');
//   background-size: cover;
//   height: 30vh;
//   width: 20vw;
//   border-radius: 50%;
// }