.box-layout {
  align-items: center;
  background: url('/images/wall.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__picture {
  align-items: center;
  border-radius: 10%;
  background: url('/images/brian.jpg');
  background-size: cover;
  display: flex;
  height: 25rem;
  width: 30rem;
  margin-right: 5rem;
}